
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn{
    all: unset;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0282f9;
    font-weight: bold;
    padding: 13px 60px;
}
.btn:hover{
    cursor: pointer;
    filter: brightness(1.4);
}