* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  all: unset;
}

/* container */
.container {
  width: 1440px;
  margin: 0 auto;
}

/* debug */
.element {
  color: #ffffff;
  padding: 55px;
}


/* header */
#intestazione {
  display: flex;
  justify-content: space-between;
  padding: 23px;
}

.image {
  width: 85px;
  height: 85px;

}

.header-menu {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header-menu li {
  text-transform: uppercase;
  color: #464646;
}

.header-menu li a:hover {
  cursor: pointer;
  color: #0282f9;
}

/* sidebar */
.sidebar{
  background-color: #0282f9;
  padding: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  
}
.sidebar-element{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sidebar-element li {
  width: 170px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sidebar-element li:hover{
  cursor: pointer;
}

.text-side{
  text-transform: uppercase;
  width: 70%;
  font-size: 12px;
}
.image-side{
  width: 30%;
}


/* main */
main {
  background-color: #000000;
}


/* footer */
footer{
  height: 100vh;
  padding: 50px;
  position: relative;
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.container-img{
  position: absolute;
  top: -5%;
  right: 20%;
}
.footer-flex{
  display: flex;
  justify-content: space-between;
  
}

.footer-flex div h3{
  color: #ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-ul{
  color: #959595;
  margin-bottom: 10px;
}



