* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;

}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  all: unset;
}

/* container */
.container {
  width: 1440px;
  margin: 0 auto;
}


/* header */
#intestazione {
  display: flex;
  justify-content: space-between;
  padding: 23px;
}

.image {
  width: 85px;
  height: 85px;

}

.header-menu {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header-menu li {
  text-transform: uppercase;
  color: #464646;
}

.header-menu li a:hover {
  cursor: pointer;
  color: #0282f9;
}

#intestazione a:hover {
  cursor: pointer;
}

/* main */
main {
  background-color: #1c1c1c;
}
.jumbotron{
  height: 45vh;
  background-image: url(../public/img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.row{
  padding: 55px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.col{
  width: calc((100%-30px)/6);
}

.card-img{
  height: 190px;
  width: 190px;
  margin-bottom: 10px;
}

.card-text{
  color: #ffffff;
  text-transform: uppercase;
}










/* sidebar */
.sidebar {
  background-color: #0282f9;
  padding: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;

}

.sidebar-element {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.sidebar-element li {
  width: 170px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar-element li:hover {
  cursor: pointer;
}

.text-side {
  text-transform: uppercase;
  width: 70%;
  font-size: 12px;
}

.image-side {
  width: 30%;
}





/* footer 1 */
.footer-container-ul {
  display: flex;
  padding-top: 50px;
  position: relative;
  gap: 20px;
}

.container-img {
  position: absolute;
  top: -90px;
  right: 100px;
}

.footer-container {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;

}

.footer-container div h3 {
  color: #ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-ul {
  color: #959595;
  margin-bottom: 10px;
  line-height: 30px;
}

.footer-ul a:hover {
  cursor: pointer;
  color: #0282f9;
}

/* footer 2 */

.footer-end {
  background-color: #303030;
  position: relative;
  z-index: 1;
  padding: 30px;
}

.footer-end-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  all: unset;
  border: 3px solid #0282f9;
  padding: 17px 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-text {
  text-transform: uppercase;
  color: #0282f9;
  font-weight: bold;
}

.social img {
  width: 35px;
  height: 35px;
}
.social a:hover{
  cursor: pointer;
}